/* header */
.header-image{
    background-image: url(../images/header-background.jpg);
    height: 324px;
}
.background-image{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.black-background{
    background-color: black;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
.logo-nav{
    max-width: 1088px;
    width: 80%;
    height: 20px;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 14px;
    font-family: 'Poppin Bold';
    font-weight: bold;
    color: white;
}
.navigation{
    max-width: 560px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.menu-icon{
    display: none;
}
.nav-li{
    font-size: 12px;
    font-family: 'Poppins SemiBold', sans-serif;
    color: white;
}
.active {
    color: #5863F8;
}
.header-title{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    height: 93px;
    position: absolute;
    top: 145px; right: 0; bottom: 0; left: 0;
}
.title{
    font-size: 42px;
    font-family: 'Poppins ExtraBold', sans-serif;
}
.white{
    color: white;
}
.header-text-wraper{
    width: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}
.header-text{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
}
.divider{
    width: 1px;
    height: 19px;
    background-color: white;
}



/* section 1 */
.container1{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-box{
    width: 444px;
}
.blue-title{
    font-size: 14px;
    font-family: 'Poppins Bold', sans-serif;
    font-weight: bold;
    color: #5863F8;
}
.margin{
    margin-top: 10px;
}
.section1-h4{
    font-size: 16px;
    font-family: 'Poppins Medium', sans-serif;
    margin-top: 23px;
}
.section1-p{
    font-size: 14px;
    font-family: 'Poppins Regular', sans-serif;
    margin-top: 15px;
}
.blue-button{
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    color: white;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.read-more{
    font-size: 14px;
    font-family: 'Poppins Regular', sans-serif;
}
.fa-arrow-right{
    font-size: 14px;
    color: white;
    margin-left: 20px;
}
.right-box{
    width: 536px;
}
.image-wraper-section1{
    display: flex;
    justify-content: space-between;
}
.hall-image{
    padding-top: 12px;
}



/* section 2 */
.section2-image{
    background-image: url(../images/plant.jpg);
    height: 612px;
}
.responsive-div-section2{
    max-width: 1088px;
    width: 80%;
}
.text-container-section2{
    width: 332px;
    position: absolute;
    top: 92px; right: 0; bottom: 0; left: 139px;
}
.box-wraper-section2{
    max-width: 1088px;
    width: 80%;
    position: absolute;
    top: 262px; right: 0; bottom: 0; left: 139px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section2-box{
    width: 260px;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.blue-circle{
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-hotel{
    font-size: 33px;
}
.section2-box-h3{
    width: 142px;
    font-size: 18px;
    font-family: 'Poppins SemiBold', sans-serif;
    text-align: center;
    margin-top: 15px;
}
.section2-box-p{
    width: 221px;
    font-size: 14px;
    color: #B1B1B1;
    font-family: 'Poppins Medium', sans-serif;
    text-align: center;
    margin-top: 24px;
}

/* section 3 */
.container3{
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text-wraper-section3{
    width: 434px;
    margin-left: 139px;
}
.testimonials-h3{
    font-size: 14px;
    font-family: 'Poppins Bold', sans-serif;
    font-weight: bold;
    color: #5863F8;
}
.profile{
    display: flex;
    margin-top: 34px;
}
.profile-name{
    font-size: 18px;
    font-family: 'Poppins SemiBold', sans-serif;
    margin-left: 19px;
    margin-top: 7px;
}
.section3-p{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    margin-top: 20px;
}
.image-container-section3{
    width: 583px;
}


/* section 4 */
.text-wraper-section4{
    width: 475px;
    margin-top: 90px;
    margin-left: 139px;
}
.section4-h3{
    font-size: 14px;
    font-family: 'Poppins Bold', sans-serif;
    font-weight: bold;
    color: #5863F8;
}
.image-container-section4{
    width: 100%;
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* footer */
footer{
    width: 100%;
    background-color: #121212;
    padding: 89px 0 41px 0;
}
.footer-container{
    max-width: 1088px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

/* text block 1 */
.text-block-footer:nth-child(1){
    width: 260px;
}
.footer-title{
    font-size: 24px;
    font-family: 'Poppins Bold', sans-serif;
    color: white;
}
.footer-p{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    color: #B1B1B1;
    line-height: 19px;
    margin-top: 22px;
}
.icons-wraper{
    width: 126px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.frames{
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frames:nth-child(1){
    background-color: #3B5998;
}
.frames:nth-child(2){
    background-color: #55ACEE;
}
.frames:nth-child(3){
    background-color: #DC4E41;
}
.fa-brands{
    color: white;
}

/* text block 2 */
.text-block-footer:nth-child(2){
    margin-left: 55px;
}
.footer-h3{
    font-size: 18px;
    font-family: 'Poppins SemiBold', sans-serif;
    color: white;
}
.blue-ul{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    line-height: 28px;
    margin-top: 18px;
}
.blue{
    color: #5863F8;
}

/* text block 4 */
.space-ul{
    margin-top: 15px;
}
.fa-envelope{
    font-size: 16px;
    margin-right: 5px;
    color: #5863F8;
}
.fa-phone{
    font-size: 16px;
    margin-right: 5px;
    color: #5863F8;
}
.fa-location-dot{
    font-size: 16px;
    margin-right: 5px;
    color: #5863F8;
}


/* copyright */
.copyright{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    color: #B1B1B1;
    margin-top: 54px;
}