/* header */
.header-image{
    background-image: url(../images/header-background.jpg);
    width: 100%;
    height: 324px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.black-div{
    background-color: black;
    width: 100%;
    height: 324px;
    opacity: 0.6;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
.logo-nav{
    max-width: 1089px;
    width: 80%;
    height: 20px;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 14px;
    font-family: 'Poppin Bold';
    font-weight: bold;
    color: white;
}
.navigation{
    width: 560px;
    display: flex;
    justify-content: space-between;
}
.nav-li{
    font-size: 12px;
    font-family: 'Poppins SemiBold', sans-serif;
    color: white;
}
.active {
    color: #5863F8;
}
.header-text{
    height: 93px;
    position: absolute;
    top: 145px; right: 0; bottom: 0; left: 139px;
    color: white;
}
.big-header-text{
    font-size: 42px;
    font-family: 'Poppins ExtraBold', sans-serif;
    font-weight: bold;
}
.tiny-header-text-wraper{
    width: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}
.tiny-header-text{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
}
.divider{
    width: 1px;
    height: 19px;
    background-color: white;
}



/* section one */
.container1{
    width: 1088px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-box{
    width: 444px;
}
.section1-h3{
    font-size: 14px;
    font-family: 'Poppins Bold', sans-serif;
    font-weight: bold;
    color: #5863F8;
}
.section1-h2{
    font-size: 42px;
    font-family: 'Poppins ExtraBold', sans-serif;
    margin-top: 10px;
}
.section1-h4{
    font-size: 16px;
    font-family: 'Poppins Medium', sans-serif;
    margin-top: 23px;
}
.section1-p{
    font-size: 14px;
    font-family: 'Poppins Regular', sans-serif;
    margin-top: 15px;
}
.blue-button{
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    color: white;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.read-more{
    font-size: 14px;
    font-family: 'Poppins Regular', sans-serif;
}
.fa-arrow-right{
    font-size: 14px;
    color: white;
    margin-left: 20px;
}
.right-box{
    width: 536px;
    height: 461px;
}
.pool-image {
    padding-left: 12px;
}
.plants-image{
    padding-top: 12px;
}